<!doctype html>
<html lang="en">
  <head>
    <title>LED-Controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type=text/javascript>
			$(function() {
			  $("#powerbutton").bind("click", function() {
				  $.getJSON("/power",  
            function(data) {
				      $("#ledstatus").text(data.status);
              $("#powerbutton").text(data.buttonLabel);
				  });
				  return false;
			  });
			});

      $(function() {
        $("#changebutton").bind("click", function() {
          $.getJSON("/change_colour", {
            r: $('input[name="r"]').val(),
            g: $('input[name="g"]').val(),
            b: $('input[name="b"]').val(),
            w: $('input[name="w"]').val(),
          }
          // , function(data) {
          //   console.log(data.r);
          // }
          );
          return false;
        });
      });
  </script>
  </head>
<body>
  <div class=page>
    <div class="status">
      <h2>Led status:</h2>
      <p id=ledstatus>Off</p>
    </div>
    <button id="powerbutton" type="button">On</button>
    <div class="rgbw">
      R<input type="text" name="r", value=255>
      G<input type="text" name="g", value=255>
      B<input type="text" name="b", value=255>
      W<input type="text" name="w", value=255>
      <button id="changebutton" type="button">Change</button>
    </div>
</body>
</html>
